body{
  margin: 0;
  padding: 0;
  box-sizing:box-sizing;
}

/*Penghubung font*/
@font-face {
    font-family: 'Helvetica Rounded Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Rounded Bold'), url('./helvetica-rounded-bold-5871d05ead8de.woff') format('woff');
    }
h1{
font-size:80px;
color: yellow;
font-family:'Helvetica Rounded Bold';
text-align: center;
text-shadow: 2px 2px 2px #ff731f ;
background-color: black;
border: solid;

}
a{
  text-align: center;
  font-size: 50px;;
  text-decoration: none;
  color:#000 ; 
  font-family:'Helvetica Rounded Bold',Sans-Serif;
  font-style: Bold;
}
a:hover{
  color:#949494;
}
.donate {
  position: absolute; /* Mengubah elemen menjadi absolut */
  top: 35%; /* Posisi 50% dari atas */
  left: 50%; /* Posisi 50% dari kiri */
  transform: translate(-50%, -50%); /* Menggeser elemen ke tengah */
  height: 65px;
  width: 350px;
  color: rgba(0, 0, 0, 0.75);
  background-color: #03ceff;
  text-align: center;
  border-radius: 20px;
  margin-top: 0; /* Menghilangkan margin-top jika sebelumnya digunakan */
}
.donate:hover{
  background-color: #73b8ff;
}
img{
  max-width:100%
}
img{
  margin-top: 50px;
}
